## Lab Practice

### Make a list of any 5 inegers

In [2]:
list = [1,2,3,4,5]

#### Make a list that contain student name , last four digits of the registration number as an integer, CGPA as a float, and a list that contain the GPA of all semesters.

In [13]:
Student=[{"Name":"Shahmeer"},{"reg_no":"0541"},{"CGPA":"3.0"},{"GPA":[2.9,3.0]}]

#### In the Above List print Student's CGPA

In [16]:
Student[3]

{'GPA': [2.9, 3.0]}

#### Print the list element using the While loop and use the len function

In [19]:
Student=[{"Name":"Shahmeer"},{"reg_no":"0541"},{"CGPA":"3.0"},{"GPA":[2.9,3.0]}]
i = 0

while i < len(Student):
    print(Student[i])
    i += 1

{'Name': 'Shahmeer'}
{'reg_no': '0541'}
{'CGPA': '3.0'}
{'GPA': [2.9, 3.0]}

#### Acess the list of all semester GPAs using negtive indexing.

In [21]:
Student[-1]

{'GPA': [2.9, 3.0]}

#### Make a list of first 20 integers using the range function.

In [114]:
[i for i in range(21)]:

SyntaxError: invalid syntax (559246230.py, line 1)

#### Make a list of odd integers from 20 to 40 using the range function.

In [1]:
for i in range(21, 41,2):
    print(i)

21
23
25
27
29
31
33
35
37
39

#### Consider the student list. (a) Use in and Not In operators to ensure that the student is in the list or not.

In [4]:
student= ["Afaq","Khayyam","Ali"]
print ("fawad"in student)

False

In [15]:
student = ["afaq","khayam","fawad"]

print("ali"not in student)

True

#### Print all the student list in task using for loop

In [45]:
students= ["Afaq","Khayyam","Ali"]
for student in students:
    print(student)

Afaq
Khayyam
Ali

#### Observe that what is print, what is the first thing print, what is the last thing print. consider the task 8 for student list

In [46]:
students[1:3]

['Khayyam', 'Ali']

In [50]:
students[2:4]

['Ali']

#### Make an appropriate list and use and demostrate the use of the following mutator method

In [68]:
students.insert(2,"bilal")

In [69]:
students

['Afaq', 'Khayyam', 'bilal', 'bilal', 'bilal', 'bilal', [...], 'Ali']

In [73]:
students.append("Qasim")

In [74]:
students

['Afaq',
 'Khayyam',
 'bilal',
 'bilal',
 'bilal',
 'bilal',
 [...],
 'Ali',
 'bilal',
 'Qasim']

In [81]:
students.remove("bilal")

In [82]:
students

['Afaq', 'Khayyam', [...], 'Ali', 'bilal', 'Qasim']

In [87]:
students.extend("fawad")

In [88]:
students

['Afaq', 'Khayyam', [...], 'Ali', 'bilal', 'Qasim', 'f', 'a', 'w', 'a', 'd']

In [89]:
students.extend("afaq")

In [90]:
students

['Afaq',
 'Khayyam',
 [...],
 'Ali',
 'bilal',
 'Qasim',
 'f',
 'a',
 'w',
 'a',
 'd',
 'a',
 'f',
 'a',
 'q']

In [94]:
students.pop(-1)

'a'

In [95]:
students

['Afaq',
 'Khayyam',
 [...],
 'Ali',
 'bilal',
 'Qasim',
 'f',
 'a',
 'w',
 'a',
 'd',
 'a',
 'f']

#### Use list inducingin the following nested list and access each and evan element

In [1]:
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"],"gg", ["hh", "ii"], "j"]

bb = x[1][0]


print(bb)

bb

### Tuple


#### make a tuple containing first fiive letters of eglish .(definition)

In [101]:
we = ("A","B","C","D","E")

#### print(we)

In [106]:
type(we)

tuple

#### useee the index to access the third and last element

In [109]:
print(we[2])

C

In [110]:
print(we[4])

E

#### make an appropriate list and tuple and use different operationthat will show that is mutable and tuple is immutable

In [115]:
my_list=["Apple","banana","Orange"]

In [116]:
my_tuple=("Apple","Banana","Orange")

In [118]:
my_list.remove("Apple")

In [119]:
my_list

['banana', 'Orange']

In [120]:
my_tuple.remove("Apple")

AttributeError: 'tuple' object has no attribute 'remove'

#### make a tuple num = (1,2,3,4,)

In [125]:
num=(1,2,3,4)

In [126]:

 num[2] =9

TypeError: 'tuple' object does not support item assignment

### Dictionary

#### Consider the following structure and observe

#### consider the following structure and observe.

In [2]:
fd={'one':'aik','three':'teen','ten':'das','fifteen':'pandra'}

In [3]:
fd

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [4]:
fd['one']

'aik'

In [5]:
fd['ten']

'das'

In [6]:
del fd['three']
print(fd)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

In [7]:
len(fd)

3

In [9]:
fd.keys()

dict_keys(['one', 'ten', 'fifteen'])

In [11]:
fd.values()

dict_values(['aik', 'das', 'pandra'])

In [12]:
fd.items()

dict_items([('one', 'aik'), ('ten', 'das'), ('fifteen', 'pandra')])

In [16]:
'one'in fd

True

In [17]:
'two' in fd

False

In [23]:
M=fd.copy()

In [24]:
print(M)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

In [25]:
Alias=fd

In [28]:
Alias['three']='3'

In [29]:
Alias

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra', 'three': '3'}

In [36]:
N=copy['three']='3'

In [37]:
N

'3'

#### Make the appropriate dictionary and use the following buit-in function.

In [40]:
Things={'planet':'Earth','Star':'Sun','Galaxy':'Milky Way'}

In [44]:
Things.values()

dict_values(['Earth', 'Sun', 'Milky Way'])

In [45]:
Things.keys()

dict_keys(['planet', 'Star', 'Galaxy'])

In [46]:
Things.items()

dict_items([('planet', 'Earth'), ('Star', 'Sun'), ('Galaxy', 'Milky Way')])

In [49]:
Things.get('Star')

'Sun'

In [50]:
Things.clear()

In [51]:
Things

{}

### List Comprehensions:

#### Consider the following code and print the square.

In [60]:
sqrs=[]
for x in range(10):
    squares.append(x*x)

In [61]:
sqr=[x*x for x in range(10)]

In [62]:
print(sqr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
even_sqrs=[x*x for x in range (10) if x %2==0]

In [64]:
print(even_sqrs)

[0, 4, 16, 36, 64]

### Dictionary Comprehension

In [72]:
doc={x:x*x for x in range(5)}
print(doc)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}